
%main.container.general-main-wrap
  %h1.mt-0.mb-25 My Orders
  %p.lead.small.mb-10.visible-xs Sort by
  .dropdowns.dropdown.general-order-dropdown
    %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      = @presenter.filter
      %i.fa.fa-angle-down.dropdown-icon.pull-right
    %ul.dropdown-menu
      - OrdersQuery::FILTERS.each do |key, filter|
        %li
          = link_to filter, url_for(filter: filter)
  .visible-xs
    .general-cart-item.divider-lg-bottom.pt-0
      %table.table
        - @presenter.orders.each do |order|
          %tr
            %td.col-half
              %span.in-grey-600
                =t('orders_page.columns_title.number')
            %td.col-half
              %span.general-order-number
                = order.number
          %tr
            %td
              %span.in-grey-600
                =t('orders_page.columns_title.completed_at')
            %td
              %span.in-grey-900.font-16.fw-300
                = order.created_at.strftime("%Y-%M-%d")
          %tr
            %td
              %span.in-grey-600
                =t('orders_page.columns_title.status')
            %td
              %span.font-16.in-grey-900.fw-300
                = @presenter.status(order)
          %tr
            %td
              %span.in-grey-600
                =t('orders_page.columns_title.total')
            %td
              %strong.font-16
                = t('price', price: order.total)
  .hidden-xs.mb-res-50
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600
              =t('orders_page.columns_title.number')
          %th
            %span.in-grey-600
              =t('orders_page.columns_title.completed_at')
          %th
            %span.in-grey-600
              =t('orders_page.columns_title.status')
          %th
            %span.in-grey-600
              =t('orders_page.columns_title.total')
      %tbody
        - @presenter.orders.each do |order|
          %tr
            %td
              %span.general-order-number
                = order.number
            %td
              %span.in-grey-900.font-16.fw-300
                = order.created_at.strftime("%Y-%M-%d")
            %td
              %span.font-16.in-grey-900.fw-300{class: ('text-success' if order.delivered?) }
                = @presenter.status(order)
            %td
              %strong.font-16
                = t('price', price: order.total)
