%main.container.general-main-wrap
  %h1.general-title-margin
    = @order.number
  .row.mb-20
    .col-sm-3
      %h3.general-subtitle
        = t('checkout.address.shipping_title')
      %p.general-address
        = t('checkout.confirm.full_name',full_name: @presenter.full_address(:shipping_address))
        = succeed @presenter.address('shipping_address') do
          %br/
        = succeed @presenter.city('shipping_address') do
          %br/
        = succeed @presenter.country('shipping_address') do
          %br/
        = succeed @presenter.phone('shipping_address') do
          %br/
    .col-sm-3
      %h3.general-subtitle
        = t('checkout.address.billing_title')
      %p.general-address
        = t('checkout.confirm.full_name',full_name: @presenter.full_address(:billing_address))
        = succeed @presenter.address('billing_address') do
          %br/
        = succeed @presenter.city('billing_address') do
          %br/
        = succeed @presenter.country('billing_address') do
          %br/
        = succeed @presenter.phone('billing_address') do
          %br/
    .col-sm-3
      %h3.general-subtitle
        = t('checkout.confirm.shipments')
      %p.general-address
        = current_order.delivery_service.name
    .col-sm-3
      %h3.general-subtitle
        = t('checkout.confirm.payment_info')
      %p.general-address
        = @presenter.payment_info_card_number
        = succeed @presenter.expiry_date do
          %br/
  .visible-xs
    - @presenter.order_items.each do |item|
      .general-cart-item.divider-lg
        .general-img-wrap-table
          = image_tag( book_cover(item.book), alt: 'design-book', class: 'cart-img-shadow')
        %p.title
          = item.book.title
        %p.in-grey-600.fw-300
          = item.book.decorate.short_description + "#{t(:'book.etc')}"
        %table.table
          %tr
            %td
              %span.in-grey-600
                = t('checkout.confirm.book_price')
            %td
              %span.font-16.in-gold-500
                = t('price', price: item.book.price)
          %tr
            %td.vertical-middle
              %span.in-grey-600
                = t('checkout.confirm.book_quantity')
            %td
              %span
                = item.quantity
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600
              = t('checkout.confirm.book_title')
          %th.col-method
          %th
            %span.in-grey-600
              = t('checkout.confirm.book_price')
          %th
            %span.in-grey-600
              = t('checkout.confirm.book_quantity')
          %th
            %span.in-grey-600
              = t('checkout.confirm.book_total')
      %tbody
        - @presenter.order_items.each do |item|
          %tr
            %td
              .general-img-wrap-table
                = image_tag( book_cover(item.book), alt: 'design-book', class: 'cart-img-shadow pull-left')
            %td
              %p.title
                = item.book.title
              %p.in-grey-600.fw-300
                = item.book.decorate.short_description + "#{t(:'book.etc')}"
            %td
              %span.font-16.in-gold-500
                = t('price', price: item.book.price)
            %td
              %span.ml-30
                = item.quantity
            %td
              %span.font-16.in-gold-500
                = t('book.price', price: ('%.2f' % (item.book.price*item.quantity.to_i)))
  .text-center.general-text-right
    = render partial: 'checkout_steps/partials/summary', locals: { presenter: @presenter }
    %table.general-summary-table.general-summary-table-right.general-text-right
