%main.container
  #slider.carousel.slide{'data-ride': 'carousel'}
    %ol.carousel-indicators
      %li.active{'data-target': "#slider", 'data-slide-to': "0"}
      %li{'data-target': "#slider", 'data-slide-to': "1"}
      %li{'data-target': "#slider", 'data-slide-to': "2"}
    .carousel-inner{role: 'listbox'}
      - @new_books.each_with_index do |book, index|
        .item{ class: ('active' if index.zero?) }
          .row
            .col-sm-5
              .general-img-wrap
                = image_tag( book_cover(book), alt: "design-book", class: "img-shadow general-thumbnail-img")
            .col-sm-7
              .mb-60
                %h1
                  = book.title
                %p.lead
                  = t('homepage.book_description')
                %p.lead.small
                  = t('homepage.book_authors')
                .general-align
                  = link_to book_path(book) do
                    %button.btn{ class: ('disabled' if book.quantity.zero?) }
                      = t('homepage.buy_btn')
    %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
      %span.icon-prev{'aria-hidden': "true"}
      %span.sr-only
        =t('homepage.carules.previous')
    %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
      %span.icon-next{'aria-hidden': "true"}
      %span.sr-only
        =t('homepage.carules.next')
.container
  .jumbotron.text-center.mb-0
    %h2.h1
      = t('homepage.middle_part.title')
    .mb-res-50
      %p
        = t('homepage.middle_part.info')
    = link_to I18n.t('homepage.middle_part.start_btn'), books_path, class:"btn btn-default"
  .mb-35
    %h3
      = t('homepage.best_sellers.title') if @best_sellers.present?
    .row
      = render partial: 'main_page/partias/bestseller', collection: @best_sellers, as: :book
