%main.container.general-main-wrap
  %h1.general-title-margin
    =t('checkout.title')
  = render partial: 'checkout_steps/partials/status_line', locals: { presenter: @presenter }
  .text-center.mb-40
    %h3.general-subtitle
      = t('checkout.complete.thanks_for_order')
    %p.fw-300
      = t('checkout.complete.sms_notify', email: current_user.email)
  .row.mb-20
    .col-sm-6
      .visible-xs
        %p.general-order-number.mb-0
          = t('checkout.complete.order_number', order: @presenter.order.number)
        %p.general-address.mb-30
          =t('checkout.complete.created_date', date: @presenter.order.updated_at.strftime("%B-%d-%Y"))
      %p.general-address
        = t('checkout.confirm.full_name',full_name: @presenter.full_address(:shipping_address))
        %span.general-edit
        = succeed @presenter.address('shipping_address') do
          %br/
        = succeed @presenter.city('shipping_address') do
          %br/
        = succeed @presenter.country('shipping_address') do
          %br/
        = succeed @presenter.phone('shipping_address') do
          %br/
    .col-sm-6.hidden-xs.text-right
      %p.general-order-number.mb-0
        = t('checkout.complete.order_number', order: @presenter.order.number)
      %p.general-address.mb-30
        =t('checkout.complete.created_date', date: @presenter.order.updated_at.strftime("%B-%d-%Y"))
  .visible-xs
    - @presenter.order_items.each do |item|
      .general-cart-item.divider-lg
        .general-img-wrap-table
          = image_tag( book_cover(item.book), alt: 'design-book', class: 'cart-img-shadow')
        %p.title
          = item.book.title
        %p.in-grey-600.fw-300
          = item.book.decorate.short_description + "#{t(:'book.etc')}"
        %table.table
          %tr
            %td
              %span.in-grey-600
                = t('checkout.confirm.book_price')
            %td
              %span.font-16.in-gold-500
                = t('price', price: item.book.price)
          %tr
            %td.vertical-middle
              %span.in-grey-600
                = t('checkout.confirm.book_quantity')
            %td
              %span
                = item.quantity
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600
              = t('checkout.confirm.book_title')
          %th.col-method
          %th
            %span.in-grey-600
              = t('checkout.confirm.book_price')
          %th
            %span.in-grey-600
              = t('checkout.confirm.book_quantity')
          %th
            %span.in-grey-600
              = t('checkout.confirm.book_total')
      %tbody
        - @presenter.order_items.each do |item|
          %tr
            %td
              .general-img-wrap-table
                = image_tag( book_cover(item.book), alt: 'design-book', class: 'cart-img-shadow pull-left')
            %td
              %p.title
                = item.book.title
              %p.in-grey-600.fw-300
                = item.book.decorate.short_description + "#{t(:'book.etc')}"
            %td
              %span.font-16.in-gold-500
                = t('price', price: item.book.price)
            %td
              %span.ml-30
                = item.quantity
            %td
              %span.font-16.in-gold-500
                = t('book.price', price: ('%.2f' % (item.book.price*item.quantity.to_i)))
  .text-center.general-text-right
    = render partial: 'checkout_steps/partials/summary', locals: { presenter: @presenter }
    %table.general-summary-table.general-summary-table-right.general-text-right
  .text-center
    = link_to I18n.t('checkout.complete.back_to_store'), books_path, class: 'btn btn-default mb-20'
