%main.container.mb-res-50
  %h1.general-title-margin
    = t('checkout.title')
  = render partial: 'checkout_steps/partials/status_line', locals: { presenter: @presenter }
  %h3.general-subtitle
    = t('checkout.card_title')
  = simple_form_for @presenter.form, url: checkout_step_path, method: :patch, html: { class: 'max-600 mb-80' },
    defaults: { input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' },
    label_html: { class: 'control-label input-label' } }, validate: true do |f|
    = f.input :number, label: t('checkout.payment.card_number'), placeholder: t('checkout.payment.card_number')
    .row
      .col-sm-6
        = f.input :name, label: t('checkout.payment.name'), placeholder: t('checkout.payment.name')
      .col-sm-3
        = f.input :expiry_date, label: t('checkout.payment.card_date'), placeholder: t('checkout.payment.card_date')
      .col-sm-3
        .relative
          = f.input :cvv, as: :password, label: t('checkout.payment.cvv'), placeholder: t('checkout.payment.cvv')
          %i.fa.fa-question-circle.general-form-help.cvv-motation{ "data-placement" => "bottom", "data-toggle" => "tooltip", title: I18n.t('payment.allow_digits') }
    .general-text-align
      = render partial: 'checkout_steps/partials/summary', locals: { presenter: @presenter }
    .text-center
      = f.button :submit, t('checkout.button'), class: 'btn center-block mb-20'
