%main.container
  .row
    .col-md-5.mb-40
      .text-center
        %h3.general-subtitle
          = t('quick_registration.login.title')
        = link_to user_facebook_omniauth_authorize_path, class: 'general-login-icon' do
          %i.fa.fa-facebook-official
        %p.general-login-text or
      = simple_form_for(@presenter.new_user, defaults: { input_html: { class: 'general-form' }}, url: session_path(@presenter.new_user)) do |f|
        .mb-40
          %p.mb-15
            = t('quick_registration.login.form_title')
          .form-group.mb-30
            = f.email_field :email,
              placeholder: I18n.t('quick_registration.login.enter_email'),
              required: true,
              autofocus: true,
              input_html: { autocomplete: I18n.t('quick_registration.autocomplete_email') }, class: 'form-control'
          .form-group.mb-30
            = f.password_field :password,
              placeholder: I18n.t('devise.enter_password'),
              required: true,
              input_html: { autocomplete: I18n.t('quick_registration.autocomplete_password') }, class: 'form-control'
            = link_to I18n.t('devise.fogot_password'), new_password_path(@presenter.new_user), class: 'help-block in-gold-500'
            = f.button :submit, t('quick_registration.login.login_button'), class: 'btn btn-default mb-20'
            %br/
    .col-md-5.col-md-offset-1.mb-60
      .text-center
        %h3.general-subtitle
          = t('quick_registration.registration.title')
        = link_to user_facebook_omniauth_authorize_path, class: 'general-login-icon' do
          %i.fa.fa-facebook-official
        %p.general-login-text or
      %form.general-form
      = simple_form_for(@presenter.new_user, defaults: { input_html: { class: 'general-form' }}, url: registration_path(@presenter.new_user)) do |f|
        .mb-40
          %p.mb-5
            = t('quick_registration.registration.form_title')
          %p.general-info-text.font-12.mb-20
            = t('quick_registration.registration.form_notice')
          = f.email_field :email,
            id: 'quick_registration_email',
            placeholder: I18n.t('quick_registration.login.enter_email'),
            required: true,
            autofocus: true,
            input_html: { autocomplete: I18n.t('quick_registration.autocomplete_email') }, class: 'form-control'
          = f.hidden_field :password, value: @presenter.generated_password
          = f.hidden_field :password_confirmation, value: @presenter.generated_password
          = f.hidden_field :quick, value: true
        = f.button :submit, I18n.t(:continue_button), class: 'btn btn-default mb-20'
