= render 'reviews/form_review' if user_signed_in?
.mb-80
  %h3.in-gold-500.mb-25
    = t(:'review.reviews_title', amount: book.reviews_quantity)
  - book.all_reviews.each do |review|
    - if review.status == 'unapproved'
      .general-message-wrap.divider-lg
        .clearfix
          = image_tag(book.image_name, alt: 'user-img', class: 'img-circle logo-size inlide-block pull-left')
          .ml-70
            %div
              .general-message-date.hidden-xs
                = t(:'review.date_review',
                    day: review.created_at.day,
                    month: review.created_at.month > 10 ? review.created_at.month : '0' + review.created_at.month.to_s,
                    year: review.created_at.year.to_s.last(2))
              .max-240
                - if user_signed_in?
                  .general-message-verified
                    Verified Reviewer
                .general-message-name
                  = ReviewPresenter.new(review.user_id).take_user.email
            .mb-15
              - review.score.times do
                %i.fa.fa-star.rate-star
              - (book.stars.max - review.score).times do
                %i.fa.fa-star.rate-star.rate-empty
            %p
              = review.body
