%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{"data-target" => "#navbar", "data-toggle" => "collapse", type: "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Bookstore', '/', class: 'navbar-brand'
    - if user_signed_in?
      %a.shop-link.pull-right.visible-xs{href: "#"}
        %span.shop-icon
          %span.shop-quantity 3
      %a.shop-link.pull-right.hidden-xs{href: "#"}
        %span.shop-icon
          %span.shop-quantity
            = current_user.order.order_items.count
    #navbar.navbar-collapse.collapse.pl-30{"aria-expanded": "false"}
      .visible-xs
        %button.close{"aria-label": "Close", type: "button"}
          %span{"aria-hidden": "true"} ×
        %ul.nav.navbar-nav
          %li
            = link_to 'Home', '/'
          %li
            %a{"aria-controls": "menu", "aria-expanded": "false", "data-toggle": "collapse", href: "#menu", type: "button"}
              = t('header.shop')
            %ul#menu.collapse.list-unstyled.pl-30.mb-10{"aria-expanded" => "false"}
              %li
                = link_to 'Mobile development', '/books?category=1'
              %li
                = link_to 'Photo', '/books?category=2'
              %li
                = link_to 'Web development', '/books?category=3'
              %li
                = link_to 'Web design', '/books?category=4'
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: "#", role: "button"}
                My account
              %ul.dropdown-menu
                %li
                  = link_to 'Settings'
                %li
                  = link_to 'Orders'
                %li.divider{role: "separator"}
                %li
                  = link_to 'Logout', destroy_user_session_path, method: :delete
          - unless user_signed_in?
            %li
              = link_to 'Sign up', new_user_registration_path, class: 'navbar-link'
            %li
              = link_to 'Login', new_user_session_path, class: 'navbar-link'
      .hidden-xs
        %ul.nav.navbar-nav
          %li
            = link_to 'Home', '/'
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
              = t('header.shop')
            %ul.dropdown-menu
              %li
                = link_to 'Mobile development', '/books?category=1'
              %li
                = link_to 'Photo', '/books?category=2'
              %li
                = link_to 'Web development', '/books?category=3'
              %li
                = link_to 'Web design', '/books?category=4'
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: "#", role: "button"}
                My account
              %ul.dropdown-menu
                %li
                  = link_to 'Settings'
                %li
                  = link_to 'Orders'
                %li.divider{role: "separator"}
                %li
                  = link_to 'Logout', destroy_user_session_path, method: :delete
          - unless user_signed_in?
            %li
              = link_to 'Sign up', new_user_registration_path, class: 'navbar-link'
            %li
              = link_to 'Login', new_user_session_path, class: 'navbar-link'
